html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
}

.photo {
    width: 15%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    padding: 2rem;
}

.navbar {
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar a {
    padding: 0.5rem;
}

section {
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.citation {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    text-decoration-line: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

form label {
    padding: 0.5rem;
}

form input {
    padding: 0.5rem;
    border-radius: 20px;
    min-width: 300px;
}
form textarea {
    padding: 0.5rem;
    border-radius: 20px;
    height: fit-content;
    min-width: 300px;
}

form button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    min-width: 300px;

}